, "F4DR Estimate Drift", gui.DriftEstimation_
, "F4DR Correct Drift", gui.DriftCorrection_
Plugins>Fast4DReg>NanoJTable IO, "F4DR Open NanoJ Table (NJT)", gui.tools.io.OpenNanoJTable_
Plugins>Fast4DReg>NanoJTable IO, "F4DR Save Results-Table as NJT", gui.tools.io.SaveResultsTableAsNJT_

Plugins>Fast4DReg>, "-"
